
.inscription{
  background: url(img/ecommerce.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}
#carouselExampleIndicators{
padding-top: 73px;
padding-bottom: 5px;
}

/*note d'utilisateurs*/
}
.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
/*note d'utilisateurs*/

/* SideBar */
#mySidenav a {
  position: fixed;
  margin-top: 150px;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 0 5px 8px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #4CAF50;
}

#blog {
  top: 80px;
  background-color: #2196F3;
}

#projects {
  top: 140px;
  background-color: #f44336;
}

#contact {
  top: 200px;
  background-color: #555
}
/* SideBar */
 /* Réseau sociaux */
 .fa {
   padding: 20px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
 }

 .fa:hover {
     opacity: 0.7;
 }

 .fa-facebook {
   background: #3B5998;
   color: white;
 }

 .fa-twitter {
   background: #55ACEE;
   color: white;
 }

 .fa-google {
   background: #dd4b39;
   color: white;
 }

 .fa-linkedin {
   background: #007bb5;
   color: white;
 }

 .fa-youtube {
   background: #bb0000;
   color: white;
 }

 .fa-instagram {
   background: #125688;
   color: white;
 }
 /* Réseau sociaux */
 #paiment {
   weight: 200px;
   height: 100px;
 }
